html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background: linear-gradient(to bottom, #000000, #404040, #000000);
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body *:link {
    color: #FF0000
}

body a:visited {
    color: #33ccff
}

body a:active {
    color: #FF0000
}

main {
    flex: 1;
    margin: 20px 5%;
    padding: 10px 0;
    border-radius: 30px;
    background-color: transparent;
}

article {
    margin: 0;
    background-color: transparent;
    border: 1px #300080 solid;
    border-radius: 30px;
    color: #ccc;
}

article > div {
    margin: 0 30px;
}

footer {
    flex-shrink: 0;
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: end;
    background-color: #300080;
    height: 75px;
    overflow: hidden;
}

footer p {
    margin: auto 5%; /* Remove auto margin for vertical alignment */
    font-size: min(2vw, 12px);

}


.title-intro {
    margin: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.title-intro h1 {
    color: white;
    display: inline-block;
    font-size: min(5vw,48px);
    max-width: 40%;
}

.title-intro h3 {
    display: inline-block;
    max-width: 50%;
    font-size: min(2vw,24px);
}

.research-item h4 {
    margin: 0;
}

.research-item p {
    margin-top: 5px;
    margin-bottom: 20px;
}

.topnav {
    background-color: #300080;
    height: 75px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.topnav a {
    height: 40%;
    font-size: min(3vw, 28px);
    font-weight: bold;
    margin: 0 0.5vw;
    text-decoration: none;
    padding: 0 0.5vw;
}


.topnav .first-item {
    margin-left: 5%;~~
}

.topnav *:link {
    color: #33ccff
}

.topnav a:visited {
    color: #33ccff
}

.topnav a:hover {
    color: #fff;
    background-color: rgba(30, 0, 80, 0.8);
    box-shadow: 0 0 10px rgba(30, 0, 80, 0.8);
    border-radius: 30px;
  }

